.cartPage{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 2vh;
}

.listItem {
  position: relative;
  width: 320px;
}

.listContainer {
  position: relative;
  border-bottom: solid 1px grey;
  display: flex;
  width: 320px
}

.productCartContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.cartProduct:not(:first-child){
  margin-top: 24px;
}

.cartProduct {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto ;
}

.productCartImage {
  position: relative;
  max-width: 27%;
  height: auto;
  border-radius: 16px;
}

.infoBlock{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
  padding: 2% 2% 2% 2%;
  margin-left: 2%;
}

.infoTagContainer{
  position: relative;
}

.infoButtonContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.qtButton{
  position: relative;
  background-color: black;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.qtButton:hover{
  border: solid 1.5px white;
}

.qtButton:active{
  border:none;
}

.sQt{
  white-space: nowrap
}

.BtnEffect{
  position: relative;
  padding: 4px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Summary{
  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
  padding: 16px 16px 16px 16px;
  overflow: hidden;
}

/*------------------ MEDIA QUERY ------------------*/

@media screen and (max-width: 600px) {
    
  .cartPage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .infoBlock{
    height: fit-content;
  }

  .Summary{
    margin-bottom: 24px;
  }

  .infoBlock .Year {
    margin-bottom: 8px;
  }

  .cartProduct:first-child{
    margin-top: 8px;
  }

  }
