.productPageContainer{
  background-image: url('M\ Letter.png') ;
  position: relative;
  /* border: solid 1px red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.07);
  overflow: hidden;
  margin-bottom: 4%;
}

.productPageImage{
  position: relative;
  margin: 4%;
  border-radius: 8%;
  transition: all 160ms ease-in-out;
  border: solid transparent 4px;
  width: 510px;
  box-shadow: -2px -2px 34px 0px rgba(0,0,0,0.75);
}

.productInformation{
  position: relative;
  width: fit-content;
  height: 200px;
  /* border: solid red; */
}

.Top{
  position: relative;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
}

.sectionTop{
  position: relative;
  /* border: solid green; */
}

.addToCartButton{
  position: relative;
  background-color: black;
  color: white;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
  border: none;
  width: 200px;
  height: 50px;
  font-size: medium;
  border-radius: 32px;
  overflow: hidden;
}

.addToCartButton:hover{
  cursor: pointer;
  border: solid 1.5px white;
}

.addToCartButton:active{
  border: none;
}

.giantCircle{
  position: absolute;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 50%;
  padding: 300px;
  box-shadow: inset 0px 0px 4px 5px rgba(0,0,0,0.07);
}