.productPageContainer{
  background-image: url('M\ Letter.png') ;
  position: relative;
  /* border: solid 1px red; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.07);
  overflow: hidden;
  margin-bottom: 4%;
}

.productPageImage{
  position: relative;
  margin-right: 4%;
  margin: 4% 1%;
  border-radius: 8%;
  transition: all 160ms ease-in-out;
  border: solid transparent 4px;
  width: 510px;
  box-shadow: -2px -2px 34px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

.productInformation{
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 200px;
  z-index: 2;
}

.Top{
  position: relative;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
}

.sectionBottom{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-Content: flex-start;
}

.addToCartButton{
  position: relative;
  background-color: black;
  color: white;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
  border: none;
  width: 200px;
  height: 50px;
  font-size: medium;
  border-radius: 32px;
  overflow: hidden;
}

.addToCartButton:hover{
  cursor: pointer;
  border: solid 1.5px white;
}

.addToCartButton:active{
  border: none;
}

@keyframes grow {
  0%   {transform: scale(0);}
  100% {transform: rotate(1);}
}

.giantCircle{
  position: absolute;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 50%;
  padding: 300px;
  box-shadow: inset 0px 0px 4px 5px rgba(0,0,0,0.07);
  animation: grow 1s ease-in-out 1;
  z-index: 1;
}

.littleCart{
  position: relative;
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(25%);
  transition: all 160ms;
}

.littleCart p{
  font-family: 'Helvetica Now Text Medium';
  padding: 5px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
  margin: 8px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------ MEDIA QUERY ------------------*/

@media screen and (max-width: 1024px) {
  /* Tablets */

.productInformation{
  width: 20%;
}

.sectionBottom{
  width: 8rem;
  flex-direction: column;
}

.productPageContainer{
  margin-bottom: 4vh;
  height: 48vh;
}

.productImage{
  width: 27vw;
}

.productPageImage{
  width: 39vw;
}

.giantCircle{
  height: 26vh;
  width: 80vw;
  padding: 20px;
}

.littleCart{
  transform: translateX(2vw);
}

}

@media screen and (max-width: 600px) {
  /* Phones */

  .productPageImage{
    margin-left: -15%;
  }

}