.profilePageContainer{
  width: 100%;
  min-height: calc(100vh - 158px);
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 32px;
}

.profilePageMenu{
  width: 200px;
  height: fit-content;
  font-size: 1.2rem;
  padding: 16px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
  margin: 8px;
  position: relative;
}

.profilePageMenu ul{
  list-style-type: none;
  padding: 4px 0px 4px 0px;
  font-family: 'Helvetica Now Text Regular';
  width: fit-content;
}

.profilePageMenu li:hover{
  border-left: solid 8px #e6c300;
}

 ul:hover li{
  border-left: solid 0px transparent;
}

.profilePageMenu li + li {
  margin-top: 10px;
}

.profileMenuContent{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 600px;
  font-size: 1rem;
  font-family: 'Helvetica Now Text Medium';
  padding: 16px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
  margin: 8px;
  overflow: auto;
}

.profileMenuContent p+p{
  margin-top: 4%;
}

.profileMenuContent span{
  font-family: 'Helvetica Now Text Regular';
}

.profileMenuContentBottom{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

/*------------------ MEDIA QUERY ------------------*/

@media screen and (max-width: 600px) {
    
  .profilePageContainer{
    flex-direction: column;
  }

  .profileMenuContent{
    width: 89%;
    gap:2vh;
    height: 56vh;
  }

  .profileMenuContentBottom{
    position: relative;
    margin-top: 4vh;
  }
  
  }