/* SNEAKERS START */

.productContainer{
  position: relative;
  display: flex;
  align-items:center;
  gap: 21px;
  border: solid green 2px;
  overflow-y:hidden ;
  height: 515px;
  min-width:950px ;
  max-width: 1610px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  width: 64.2%;
  padding-right: 28.5px;
  /* height: auto; */
}

.Product{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start;
  position: relative;
}


.contentWrapper{
  position: relative;
  border: solid transparent 1px;
  /* transition: border 240ms, border-radius ease-in-out; */
}

.productImage{
  border-radius: 8%;
  transition: all 160ms ease-in-out;
  border: solid transparent 3px;
  width: 300px;
}

.productImagenoBG{
  transform-origin: center center;
  position: absolute;
  /* border: solid blue; */
  opacity: 1;
  transition: all 240ms ease-in-out;
  left: 0px;
  opacity: 0;
  width: 100%;
  height: auto;
}

.Product:hover .contentWrapper{
  border: solid black 1px;
  border-radius: 8%;
  /* box-shadow: -2px -2px 34px 0px rgba(0,0,0,0.75); */
  background-color: rgb(220, 220, 220)  
}

.Product:hover .productImage{
  opacity: 0;
}

.Product:hover .productImagenoBG{
  opacity: 1;
  transform: translate(0%, -5%) scale(1.2);
}

.menu{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: sans-serif;
}

.tagContainer{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: solid transparent 1px;
}

.productTag{
  background-color: white;
  color: black;
  transition: all 250ms;
}

.sYear{
  box-shadow: -2px -2px 34px 0px rgba(0,0,0,0.75);
  border-radius: 32px;
  padding: 4px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

.sName, .sPrice, .sYear, .sType{
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
}

.scrollButton{
  z-index: 3;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
  border: solid black 1px;
  /* margin: 8px; */
  transition:opacity 160ms ease-in-out, background-color 160ms ease-in-out;
  position: relative;
}

.scrollButton:hover{
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.scrollButton:active{
  border: solid transparent 1px;
}

/* SNEAKERS END */

/* MENU START */

.buttonContainer{
  border: solid violet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  gap: 24px;
  margin-bottom: 4%;
}

.scrollButton{
  z-index: 3;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-family: Helvetica Now Text Medium, Helvetica, Arial;
  border: solid black 1px;
  transition: background-color 160ms ease-in-out;
  position: relative;
  /* font-size: 1rem; */
}

.scrollButton:hover{
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.scrollButton:active{
  border: solid transparent 1px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* MENU END */