.headerContainer{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2px 0;
    background-Color:#F5F5F5;
    transition: all .480s;
}

header{
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
}

.cartCircle{
    position: relative;
    font-size: 0.8rem;
    width: 20px;
    height: 20px;
    background-color: rgb(236, 0, 0);
    border-radius: 50%;
    color: white;
    font-family: 'Helvetica now text regular';
    display: flex;
    align-items: center;
    justify-content: center;
}

.Link{
    color: #131314;
    text-decoration: none;
}

.headerButton{
    border: solid 2px black;
    position: relative;
    color: black;
    text-decoration: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 50px;
    font-family: 'Helvetica now text medium';
    cursor: pointer;
    transition: all .218s;
}

.headerButton:hover{
    background-color: aliceblue;
}

.username::before{
    content:'';
    position: absolute;
    color: white;
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-120%);
    margin-left: 2%;
}