@font-face {
    font-family:'Zabal';
    src: url(../Fonts/ZabalDEMO-Ultra.ttf) format('truetype');
  }

@keyframes Slide {
    0%   {transform: translateX(0);}
    100% {transform: translateX(100vw);}
  }

  @keyframes Size {
    0%   {box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 0.4); scale: 1;}
    100% {box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 1); scale: 5;}
  } 

*{
    margin: 0;
    padding: 0;
}

.Background{
    width: 100vw;
    height: 100vh;
    background-color: #cf0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden;
    top: 0;
}

.Title{
    font-family: 'Zabal';
    font-size: 16rem;
    color: white;
    letter-spacing: 0.5rem;
    text-shadow: 4px 27px 42px rgba(0,0,0,0.55);
    z-index: 2;
}

.Square{
    width: 17.6vw;
    height: 35vh;
    position: absolute;
    transition: box-shadow 1s;
    border-top-right-radius: 100%;
    animation: Size 3.2s 1 ;
    box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 1);
    scale: 5;
    z-index: 1;
}

.top{
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
    transform: rotate(180deg);
}

.bottom{
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
}

.sneakerCanvas{
    /* border: solid green; */
}

/*------------------ MEDIA QUERY ------------------*/

@media screen and (max-width: 600px) {
    
    .Square{
        width: 150px;
        height: 150px;
    }


    .Title{
        font-size: 6.8rem;
        letter-spacing: 0.2rem;
    }

    .Slider{
        /* 3070px */
        width: 420px;
        height: 25vh;
        animation: Slide linear 3.8s
    }
}