@keyframes Slide {
    0%   {transform: translateX(0);}
    100% {transform: translateX(100vw);}
  }

*{
    margin: 0;
    padding: 0;
}

.Background{
    width: 100vw;
    height: 100vh;
    background-color: #cf0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

h1{
    font-size: 8rem;
    color: white;
}

.Slider{
    width: 100vw;
    height: 8rem;
    /* border: solid 1px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #cf0000;
    animation: Slide linear 4.5s ;
    transform: translateX(100vw)
}

.Square{
    width: 450px;
    height: 450px;
    background-color: white;
    position: absolute;
    transition: all 1s;
    border-top-right-radius: 90px;
}

.top{
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
    transform: rotate(180deg);
}

.bottom{
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
}
