@font-face {
    font-family:'Zabal';
    src: url(./Fonts/ZabalDEMO-Ultra.ttf) format('truetype');
  }

@keyframes Slide {
    0%   {transform: translateX(0);}
    100% {transform: translateX(100vw);}
  }

  @keyframes Size {
    0%   {box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 0.4);}
    100% {box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 1);}
  } 

*{
    margin: 0;
    padding: 0;
}

.Background{
    width: 100vw;
    height: 100vh;
    background-color: #cf0000;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    overflow: hidden;
}

h1{
    font-family: 'Zabal';
    font-size: 12rem;
    color: white;
    letter-spacing: 0.5rem;
    text-shadow: 4px 27px 42px rgba(0,0,0,0.55);
}

.Slider{
    width: 100vw;
    height: 16rem;
    /* border: solid 1px white; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #cf0000;
    animation: Slide linear 4.5s ;
    transform: translateX(100vw)
}

.Square{
    width: 450px;
    height: 450px;
    background-color: white;
    position: absolute;
    transition: all 1s;
    border-top-right-radius: 90px;
    animation: Size 4s ease-in-out ;
    box-shadow: 18px -14px 87px -2px rgba(90, 0, 0, 1);
}

.top{
    top: 0;
    right: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
    transform: rotate(180deg);
}

.bottom{
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, rgba(228,0,0,1) 14%, rgba(125,0,0,1) 100%);
}
