.adContainer{
  /* border: solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  width: 64.5%;
  max-width: 1632px;
  height: auto;
  position: relative;
}

.adImage{
  width:100% ;
  height: auto;
  object-fit:cover;
  object-position: center;
  aspect-ratio: 4 / 6 ;
  box-shadow: -8px -5px 14px -7px rgba(0,0,0,0.18);
  position: relative;
}

.imageWrapper:hover{
  filter: grayscale(0%);
}

.imageWrapper:hover .adText{
  opacity: 0;
  transform: translate(-50%, -50%);
}

.adText{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 48px;
  font-family: 'Zabal';
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
  opacity: 1;
  transition: all 0.4s;
}

.imageWrapper{
  transition: filter 0.4s;
  width: 100%;
  position: relative;
  height: auto;
  filter: grayscale(100%);
}
