.modalContainer {
    width: 400px;
    height: 600px;
    border: solid 1px black;
    position: fixed;
    top: 100px;
    z-index: 99;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.103);
    padding: 2% 2% 2% 2%;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 98;
}

body.modal-active {
    overflow-y: hidden;
}

.modal {
    position: relative;
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal input{
    width: 95%;
    padding: 2%;
    margin-bottom: 6%;
    font-family: 'Helvetica now text medium';
    font-size: 1rem;
}

.modal label{
    font-family: 'Helvetica now text regular';
}

.closeButton:hover {
    border: solid 1.5px white;
}

.closeButton:active {
    border: none;
}

.closeButton {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-Color: black;
    font-Family: 'Zabal';
    font-Size: 2rem;
    width: 50px;
    height: 50px;
    border-Radius: 50px;
    display: "flex";
    align-Items: center;
    justify-Content: center;
    cursor: pointer;
    color: white;
    transform: translate(24%, -24%);
}

h3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    margin-top: 24px;
}

h3::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    top: 50%;
    left: 0;
}

h3 span{
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    color: #8b9299;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    background-color: #fff;
}

.modalInfo span{
    position: relative;
    color: #5c6064;
    transition: all .218s;
    font-size: 0.9rem;
    font-family: 'Helvetica now text medium';
}

.modalInfo span:hover{
    color: #202020;
}

.modalInfo p{
    font-size: 0.9rem;
    position: relative;
    color: #8b9299;
    font-family: 'Helvetica now text regular';
}