.modalContainer{
    width: 500px;
    height: 700px;
    background-color: white;
    border: solid black;
    position: fixed;
    top: 100px;
}

.modalOverlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

body.modal-active{
    overflow-y: hidden;
}

.modalA{
    padding: 20px;
    box-Shadow: 5px 4px 8px rgba(0, 0, 0, 0.1);
    border-Radius: 8px;
    width: 300px;
    text-Align: center;
    background-Color: #C5CAE9;
}