*{
  padding: 0;
  margin: 0;
}

.productContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Product{
  border: solid red;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu{
  display: flex;
  flex-direction: column;
}

