*{
  padding: 0;
  margin: 0;
}

.productContainer{
  display: flex;
  align-items:center;
  gap: 21px;
  border: solid green 2px;
  overflow-y:hidden ;
}

.Product{
  border: solid red;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productImage{
  border-radius: 7%;
}

.contentWrapper{
  border: solid purple;
  position: relative;
  top: -320px;
}

.productImagenoBG{
  position: absolute;
  border: solid blue;
  top: -303px;
  top: 20px;
  transition: all 190ms ease-in-out;
}

.productImagenoBG:hover{
  /* opacity: 0; */
  transform:  scale(1.2)
}

.menu{
  display: flex;
  flex-direction: column;
}

h1{
  font-family: sans-serif;
}

