@font-face {
  font-family: 'Helvetica Now Text Medium';
  src: url(./pages/Fonts/HelveticaNowText-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Helvetica Now Text Regular';
  src: url(./pages/Fonts/HelveticaNowText-Regular.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
}

.main{
  /* border: solid red 1px; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow-x: hidden; */
  position: relative;
}

