/* Banner START */

.slider{
  width: 200px;
  border: solid red;
}

.bannerContainer{
    /* border: solid black;
    border-radius: 16px; */
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* min-width: 600px; */
  }

  .banner3DContainer {
    margin-bottom: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    object-fit:cover;
    object-position: center;
  }

  .bannerImage{
    width: 100%;
    height: auto;
    object-fit:cover;
    object-position: center;
    aspect-ratio: 16 / 6 ;
  }
  
  /* Banner END */
  
  /* 3D BANNER START */
  
  .canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay3DBanner{
    color: white;
    position: absolute;
  }

  .overlayContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .S{
    font-size: 24px;
    font-family: "Zabal", sans-serif;
  }

  .M{
    font-size: 48px;
    font-family: 'Zabal';
  }

  .L{
    font-size: 64px;
    font-family: "Work Sans", sans-serif;
  }

  .glwEffect{
    transition: all 0.4s;
  }

  .overlayContainer:hover .glwEffect{
    text-shadow: 6px -6px 25px rgba(255, 255, 153, 0.5);
  }
  /* 3D BANNER END */